PORT=3000
APP_BASE_URL=https://zka.98e.mytemp.website
APP_ID=cluster-agency-pro-mobile-v7

DATABASE_CLIENT=sqlite3
SQLITE_FILENAME=.tmp/clusterag.sqlite

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=clusterag
MYSQL_USER=root
MYSQL_PASSWORD=

SESSION_COOKIE_NAME=cluster_session
SESSION_SECRET=change-me-before-production
SESSION_TTL_HOURS=720
MAGIC_LINK_TTL_MINUTES=30

SEED_SUPER_ADMIN_EMAILS=maycolljaramillo01@gmail.com
SEED_MANAGEMENT_TEAM_JSON=[{"name":"Aiskel","email":"aiskel.wuerman82@gmail.com"},{"name":"Maycoll","email":"maycolljaramillo01@gmail.com"},{"name":"Esteban","email":"estebanantonio02@gmail.com"},{"name":"Maria","email":"marialaguna2117@gmail.com"},{"name":"Orlando","email":"info@cluster.marketing"}]
SEED_EDITOR_TEAM_JSON=[{"name":"Maria Galicia","email":"marialaguna2117@gmail.com","color":"c22"}]

SMTP_HOST=zka.98e.mytemp.website
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=app@zka.98e.mytemp.website
SMTP_PASSWORD=
SMTP_FROM=app@zka.98e.mytemp.website

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://127.0.0.1:3000/api/auth/google/callback

FIREBASE_API_KEY=AIzaSyBAnY2ihWlow17H-TjUKgueWpw2MqYpzUc
FIREBASE_AUTH_DOMAIN=cluster-41f73.firebaseapp.com
FIREBASE_PROJECT_ID=cluster-41f73
FIREBASE_STORAGE_BUCKET=cluster-41f73.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=210834819744
FIREBASE_APP_ID=1:210834819744:web:e10ca79a3f9a5eb866d7c5
FIREBASE_MEASUREMENT_ID=G-N16QDLDC7P
