rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Desarrollo local: desbloquea lecturas y escrituras en el emulador.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
